.appContainer {
  display: flex;
}

.appTitle {
  font-size: 35px;
  color: #075c93;
  font-family: 'Ananda Black', sans-serif;
}

.appLogo {
  width: 4rem;
}

/* remove arrows in numbers input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
