.dropdownContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.dropdownTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
  border: solid 2px #075b9341;
  border-radius: 5px;
  transition: all 0.3s;
  cursor: pointer;
}

.dropdownTitle:hover {
  background-color: #075b9377;
}

.dropdownOptions {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 95%;
  position: absolute;
  top: 110%;
  z-index: 1;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 4px 0px #0000003f;
  padding: 0.3rem;
}

.dropdownOption {
  text-align: left;
  border: none;
  border-radius: 5px;
  height: 1.5rem;
  transition: all 0.3s;
  cursor: pointer;
}

.dropdownOption:hover {
  background-color: #075b9377;
  border: none;
}

.arrowIcon {
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.arrowUp {
  transform: rotate(180deg);
}
